:root {
  /* colors */
  --colors-brand-beige-00: #fefefb;
  --colors-brand-beige-10: #f7f6e8; /* Background */
  --colors-brand-turquoise-00: #e6fafe;
  --colors-brand-turquoise-20: #b4f1fd;
  --colors-brand-turquoise-50: #69e3fc; /* Brand */
  --colors-brand-yellow-40: #ffea80; /* Brand */
  --colors-brand-yellow-100: #e5c000;
  --colors-brand-orange-70: #ff7733; /* Brand */
  --colors-grey-00: #ffffff;
  --colors-grey-20: #cccccc;
  --colors-grey-40: #999999;
  --colors-grey-60: #666666;
  --colors-grey-80: #333333;
  --colors-grey-100: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #f7f6e8;
  color: #333333;
}

.content {
  max-width: 80vw;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  display: block;
  text-align: right;
  padding: 2rem;
  margin-top: 6rem;
  color: #ff7733;
  border-top: 1px solid #ff7733;
}

header {
  display: block;
  text-align: left;
  padding: 2rem;
  margin-bottom: 6rem;
  color: #ff7733;
  border-bottom: 1px solid #ff7733;
}

nav {
  margin: 1rem auto 3rem;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  margin-left: 2rem;
}

h2 {
  color: var(--colors-brand-yellow-100);
}
